<h4>Edward Brooks Serrano</h4><br>
<img src="/images/yo.jpg" alt="yo"><br>
<p>Soy un desarrollador web al que siempre le encanta aprender cosas nuevas. Vi este curso de suerte y hacia tiempo que queria probar como funcionaba Node.js</p>
<p>Espero aprender mucho de este curso y vosotros tambien :D</p>
